[Desktop Entry]
Name=CloudClient
GenericName=
Exec=CloudClient
Icon=thunder-256
Comment=
Categories=Network;
Type=Application
StartupNotify=false
Terminal=false
