[Desktop Entry]
Name=CloudClient
GenericName=
Exec=/usr/local/bin/CloudClient
Icon=thunder-256
Comment=
Categories=Network;
Type=Application
StartupNotify=false
Terminal=false
